<div>
  <a
    href="https://accounts.google.com/o/oauth2/v2/auth?client_id=963043241043-fn0nssavhrtdsjfm9udru2ido2ceor15.apps.googleusercontent.com&redirect_uri=http://localhost:3000&response_type=token&scope=https://www.googleapis.com/auth/youtube"
  >
    Google yetkilendir
  </a>
  <a
    href="https://id.twitch.tv/oauth2/authorize?client_id=iwna32fjdgo37yncyjdawold3p7hh7&redirect_uri=http://localhost:3000&response_type=token&scope=chat:read+chat:edit"
    >Twitch yetkilendir</a
  >
</div>
